.questioncard {
  font-family: PingFangSC-Regular;
  letter-spacing: 0;
  margin-bottom: 0.21333333rem;
  background: #fff;
}
.questioncard .cardbox {
  padding: 0.64rem 0.66666667rem 0 0.66666667rem;
  display: flex;
}
.questioncard .cardbox .image {
  width: 1.28rem;
  height: 1.28rem;
  border-radius: 50%;
  border: 1px solid #E8E8E8;
}
.questioncard .cardbox .image img {
  border-radius: 50%;
  width: 100%;
}
.questioncard .cardbox .aside {
  margin-right: 0.42666667rem;
}
.questioncard .cardbox .article .name {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}
.questioncard .cardbox .article .value {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.questioncard .cardbox .good {
  color: #3388DD;
}
.questioncard .min {
  height: 1.01333333rem;
  line-height: 1.01333333rem;
  margin-top: 0.37333333rem;
}
