.layout_header {
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  background: #3388DD;
  box-shadow: 0 0.02666667rem 1.17333333rem 0 rgba(51, 136, 221, 0.12);
  font-size: 20px;
  text-align: center;
  display: flex;
  position: relative;
}
.layout_header div.logo-img {
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  padding: 0 0.48rem;
  position: relative;
  background: url(../../../../public/image/header-user.png) no-repeat center center;
  background-size: 77% 54%;
  margin-left: 0.3rem;
}
<<<<<<< HEAD
.layout_header .language_icon {
  display: inline-block;
  position: absolute;
  height: 1.70666667rem;
  color: #fff;
  font-size: 17px;
  right: 1.2rem;
}
.layout_header .language_icon .icon {
  line-height: 1.70666667rem;
}
=======
>>>>>>> 8a21f2f22adf8bd0a9a4abc330a77ea60f936a56
.layout_header .guide_icon {
  display: inline-block;
  height: 1.70666667rem;
  position: absolute;
  right: .4rem;
<<<<<<< HEAD
  font-size: 22px;
=======
  font-size: 19px;
>>>>>>> 8a21f2f22adf8bd0a9a4abc330a77ea60f936a56
  color: #fff;
}
.layout_header .guide_icon .icon {
  line-height: 1.70666667rem;
  display: inline-block;
}
<<<<<<< HEAD
=======
.layout_header .changeSchool {
  position: absolute;
  top: 0;
  right: 1.3rem;
}
.layout_header .changeSchool .drop-content {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.school-name {
  color: #3388DD !important;
  font-size: 14px;
}
.school-name .area-icon {
  font-size: 17px;
}
>>>>>>> 8a21f2f22adf8bd0a9a4abc330a77ea60f936a56
